<div class="background">
  <img class="image" *ngFor="let image of images" [src]="image.url" [alt]="image.display"
       [class.show]="image.name === currentImage.name">

  <div class="level">Level {{level}}</div>
  <div class="countdown" *ngIf="showCountdown">
    {{countdown}}
  </div>

  <div class="controls" (click)="reset()">
    <button class="pushable">
      <span class="shadow"></span>
      <span class="edge"></span>
      <span class="front">
        Neu Afangä
      </span>
    </button>
  </div>
</div>
